<?xml version="1.0" encoding="UTF-8" ?> 
  <!DOCTYPE plist (View Source for full doctype...)> 
<plist version="1.0">
<dict>
  <key>items</key> 
<array>
<dict>
  <key>assets</key> 
<array>
<dict>
  <key>kind</key> 
  <string>software-package</string> 
  <key>url</key> 
  <string>http://faw.wiselink.net.cn/ids/ids.ipa</string> 
  </dict>
<dict>
  <key>kind</key> 
  <string>display-image</string> 
  <key>needs-shine</key> 
  <true /> 
  <key>url</key> 
  <string>http://faw.wiselink.net.cn/ids/1.png</string> 
  </dict>
<dict>
  <key>kind</key> 
  <string>full-size-image</string> 
  <key>needs-shine</key> 
  <true /> 
  <key>url</key> 
  <string>http://faw.wiselink.net.cn/ids/2.png</string> 
  </dict>
  </array>
  <key>metadata</key> 
<dict>
  <key>bundle-identifier</key> 
  <string>com.wiselink.wsmDazhongEnterprise</string> 
  <key>bundle-version</key> 
  <string>4.3</string> 
  <key>kind</key> 
  <string>software</string> 
  <key>subtitle</key> 
  <string>经销商端V4.3</string> 
  <key>title</key> 
  <string>经销商端V4.3</string> 
  </dict>
  </dict>
  </array>
  </dict>
  </plist>